.container{
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(133, 135, 150);
    min-height: 80px;
    padding: 5px;
    justify-content: space-around;
    text-align: center;
}